.bs-example{
    margin: 20px;
}
.accordion .fa{
    margin-right: 0.5rem;
}



.my-container {
position: relative;

overflow: hidden;
color: black;
}
.my-container h1 {
padding: 50px;
text-align: center;
z-index: 2;
position: relative;
color: #fff;
} 
.my-container img {
position: absolute;
left: 0;
top: 0;
width: 100%;
height: auto;
z-index: 1;
opacity: 0.6;
}
#hired_deciated_report{
margin: 30px 0px 100px;
}
#hired_deciated_report h3{
font-weight: bold;
}


.parallax2 {
background: transparent;
padding: 100px 35px;
}
